@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Sf pro Display bold';
    src: url('../fonte/SFPRODISPLAYBOLD.OTF');
}

body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
p,
span {
    margin: 0px;
}

a {
    max-width: 360px;
    width: 100%;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
}

header img {
    max-width: 214px;
    width: 100%;
    height: auto;
}

#container_1 {
    background-image: url(../img/bg_home.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 900px;
    background-color: #151545;
}

.container_1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 60px 0px;
}

.container_1_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.area_text_container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 940px;
    width: 100%;
}

.title_container_1 h1 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.title_container_1 h1 b {
    font-weight: bold;
}

.sub_title_container_1 p {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}


@-webkit-keyframes pulse-laranja {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #E28026, 0 0 0 0 #E24826;
    }

    70% {
        transform: scale(1.01);
        box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }
}

@-moz-keyframes pulse-laranja {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #E28026, 0 0 0 0 #E24826;
    }

    70% {
        transform: scale(1.01);
        box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }
}

@-o-keyframes pulse-laranja {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #E28026, 0 0 0 0 #E24826;
    }

    70% {
        transform: scale(1.01);
        box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }
}

@keyframes pulse-laranja {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #E28026, 0 0 0 0 #E24826;
    }

    70% {
        transform: scale(1.01);
        box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }
}


.btn_container {
    display: block;
    background: radial-gradient(52% 52% at 48% 6.58%, #E28026 0%, #E24826 100%);
    border-radius: 6px;
    max-width: 360px;
    width: 100%;
    padding: 22px 20px;
    -webkit-animation: pulse-laranja 2s infinite;
    -moz-animation: pulse-laranja 2s infinite;
    -o-animation: pulse-laranja 2s infinite;
    animation: pulse-laranja 2s infinite;
}

.btn_container h2 {
    font-family: 'Sf pro Display bold';
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

/*Container 2*/

.container_2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_2_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.area_imgs_elaboracao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.imgs_elaboracao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.imgs_elaboracao img {
    max-width: 50%;
    width: 100%;
    border-radius: 6px;
    height: auto;
}

.area_container_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
}

.area_text_container_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
    width: 100%;
}

.title_container_2 h2 {
    font-weight: 700;
    font-size: 2.5em;
    color: #151545;
}

.sub_title_container_2 p {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 140%;
    color: #151545;
}

.curso_revit {
    max-width: 530px;
    width: 100%;
    height: auto;
}

.sobre_revit {
    max-width: 550px;
    width: 100%;
    height: auto;
}

.container_3 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 60px 0px;
}

.container_3_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1280px;
}

.title_container_3 h2 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 140%;
    color: #151545;
}

.area_container_3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}

.box_infos {
    max-width: 380px;
    width: 100%;
    height: 240px;
    border: 2px solid #E26A26;
    border-radius: 32px;
}

.box_infos_int {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 40px 20px;
    height: 100%;
}

.sub_title_container_3 p {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 140%;
    text-align: center;
    color: #151545;
}

/*Container 4*/

.container_4 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 0px 0px;
    background-color: #151545;
    position: relative;
}

.bg_participar {
    position: absolute;
    max-width: 300px;
    width: 100%;
    height: auto;
    left: 0px;
    bottom: 0px;
    z-index: 0;
}

.container_4_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_container_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.participar {
    height: auto;
    max-width: 800px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.area_text_container_4 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 380px;
    width: 100%;
}

.title_container_4 h2 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 140%;
    color: #FFFFFF;
}

.area_check {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.check_container_4 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info_check p {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 140%;
    color: #FFFFFF;
}

.sub_title_container_4 p {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 140%;
    color: #FFFFFF;

}

.container_5 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #E26A26;
    padding: 60px 0px 60px 0px;
}


.container_5_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_container_5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title_container_5 h2 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 140%;
    color: #FFFFFF;
}


.area_text_container_5 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 880px;
    width: 100%;
}

.area_text_container_5_int {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.area_box_container_5_1 {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 370px;
    width: 100%;
}

.area_box_container_5_2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.info_container_5 p {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 140%;
    color: #FFFFFF;
}


/*Container 6*/

.container_6 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_6_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1280px;
}

.title_container_6 {
    max-width: 850px;
}

.title_container_6 h2 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 120%;
    text-align: center;
    color: #151545;

}

.area_container_6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.swiper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    overflow-y: visible !important;
    padding: 0px 20px;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
}

.box_comentarios {
    background: #FFFFFF;
    box-shadow: -4px 4px 77.2px rgba(9, 9, 13, 0.08);
    border-radius: 38px;
    height: 380px;
    max-width: 340px;
    width: 100%;
}

.box_comentarios_int {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 60px 40px;
}

.comentario p {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #120E10;
}

.area_comentario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area_comentario img {
    max-width: 118px;
    width: 100%;
    height: auto;
}

.title_name h3 {
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 0.04em;
    color: #120E10;
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: -40px !important;
}


/*Container 7*/

.container_7 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #151545;
    padding: 60px 0px 60px 0px;
}

.container_7_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_container_7 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}

.area_text_container_7 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
}

.area_text_container_7 img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.title_container_7 h2 {
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.sub_title_container_7 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.area_box_7_dias {
    width: 100%;
    max-width: 430px;
    background: #E26A26;
    border-radius: 48px;

}

.area_box_7_dias_int {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 30px;
    padding: 0px 0px 40px 0px;
}

.area_acesso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 48px 48px 0px 0px;
    width: 100%;
    padding: 15px 0px;
}

.title_acesso h2 {
    font-weight: 800;
    font-size: 1.8em;
    line-height: 140%;
    text-align: center;
    color: #E26A26;
}

.area_carga_horaria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 0px 40px 0px 40px;
}


.carga_horaria {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    max-width: 300px;
    width: 100%;
}


.title_carga_horaria h2 {
    font-weight: 700;
    font-size: 1.2em;
    color: #FFFFFF;
}

.area_precos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.preco p {
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    color: #FFFFFF;
}

.preco_a_vista h2 {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    color: #FFFFFF;

}

.preco_a_vista h2 small {
    font-size: 20px;
}

.preco_parcelado h2 {
    font-weight: 700;
    font-size: 3.8em;
    text-align: center;
    color: #FFFFFF;
}

.preco_parcelado h2 small {
    font-size: 32px;
}


.desconto p {
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    color: #FFCB8D;


}

.area_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

@-webkit-keyframes pulse-branco {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #FFFFFF, 0 0 0 0 #FFFFFF;
    }

    70% {
        transform: scale(1.01);
        box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }
}

@-moz-keyframes pulse-branco {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #FFFFFF, 0 0 0 0 #FFFFFF;
    }

    70% {
        transform: scale(1.01);
        box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }
}

@-o-keyframes pulse-branco {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #FFFFFF, 0 0 0 0 #FFFFFF;
    }

    70% {
        transform: scale(1.01);
        box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }
}

@keyframes pulse-branco {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #FFFFFF, 0 0 0 0 #FFFFFF;
    }

    70% {
        transform: scale(1.01);
        box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }
}

.link_btn_comprar {
    max-width: 300px;
    width: 100%;
    text-decoration: none;
}

.btn_comprar {
    display: block;
    background: #FFFFFF;
    border-radius: 6px;
    max-width: 300px;
    width: 100%;
    padding: 22px 20px;
    -webkit-animation: pulse-branco 2s infinite;
    -moz-animation: pulse-branco 2s infinite;
    -o-animation: pulse-branco 2s infinite;
    animation: pulse-branco 2s infinite;
}

.btn_comprar h2 {
    font-family: 'Sf pro Display bold';
    font-size: 1.2em;
    text-transform: uppercase;
    color: #E26A26;
    text-align: center;
}

.btn_carrinho {
    display: block;
    border-radius: 6px;
    max-width: 300px;
    width: 100%;
    padding: 22px 20px;
    border: 3px solid #FFFFFF;
}

.btn_carrinho h2 {
    font-family: 'Sf pro Display bold';
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}




@media(max-width: 1024px) {

    #container_1 {
        height: auto;
    }
    .area_container_1 {
        padding: 0px 20px;
    }

    .title_container_1 h1,
    .title_container_2 h2,
    .title_container_3 h2,
    .title_container_4 h2,
    .title_container_5 h2,
    .title_container_6 h2,
    .title_container_7 h2 {
        font-size: 2em;
    }

    .imgs_elaboracao img {
        max-width: 100%;
    }
    
    
    .area_container_2 {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 0px 20px;
    }

    .area_container_2.column_mobile {
        flex-direction: column;
        gap: 20px;
    }

    .container_3_int {
        padding: 0px 20px;
    }

    .area_container_4 {
        flex-direction: column-reverse;
        position: relative;
        padding: 0px 20px;
    }

    .area_text_container_4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        max-width: 500px;
        width: 100%;
        text-align: center;
    }

    .area_check {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .check_container_4 {
        flex-direction: column;
        gap: 10px;
    }


    .area_container_5 {
        flex-direction: column;
        gap: 20px;
    }

    .area_text_container_5 {
        align-items: center;
        flex-wrap: wrap;
    }

    .container_6_int {
        padding: 0px 20px;
    }

    .title_container_6 {
        max-width: 800px;
    }

    .area_container_7 {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 0px 20px;
    }



}

@media(max-width: 480px) {

    .title_container_1 h1,
    .title_container_2 h2,
    .title_container_3 h2,
    .title_container_4 h2,
    .title_container_5 h2,
    .title_container_6 h2,
    .title_container_7 h2 {
        font-size: 1.8em;
    }

    .container_1, .container_2, .container_3, .container_5 {
        padding: 40px 0px 40px 0px;
    }

    .container_4 {
        padding: 40px 0px 0px 0px;
    }

    .area_check {
        justify-content: center;
        align-items: center;
    }
    .area_text_container_5 {
        gap: 10px;
    }
    .area_container_5 {
        padding: 0px 20px;
    }


    .bg_participar {
        max-width: 200px;
    }


    iframe {
        height: 215px;
    }
}

@media(max-width: 375px) {
    .btn_container h2 {
        font-size: 1em;
    }
}